1. write a code to reverse a string

In [11]:
def reverse_string(str):
    return str[::-1]
str = input("enter name:")
reversed_string = reverse_string(str)
print(reversed_string)

enter name: rajasekhar

rahkesajar

2. write a code to count the number of vowels in a string

In [15]:
def count_string(str):
    vowels="aeiou"
    count=0
    for char in str:
        if char in vowels:
            count += 1
    return count

str = input("enter your name:")
count_string = count_string(str)
print(count_string)

enter your name: rajasekhar reddy

5

## 3. write a code to check if given string is palindrome or not

In [19]:
def palindrome_check(str):
    return str == str[::-1]
        
str = input("checking palindrome:")
palindrome = palindrome_check(str)
print(palindrome_check(str))

checking palindrome: laal

True

In [2]:
## 4.Write a code to check if two given strings are anagrams of each other

In [8]:
def anagrams_check(str1,str2):
    str1 = str1.replace(" ","").lower()
    str2 = str2.replace(" ","").lower()

    if len(str1) != len(str2):
        return False
    elif(sorted(str1) == sorted(str2)):
        return True

    return False

str1 = input("enter string 1:")
str2 = input("enter string 2:")
if anagrams_check(str1,str2):
    print("this are anagrams")
else:
    print("this are not anagrams")

enter string 1: rajaa
enter string 2: rajas

this are not anagrams

In [ ]:
# 5. Write a code to find all occurrences of a given substring within another string.

In [15]:
def occurences_string(string,sub_string):
    lst = []
    start_index = 0
    while True:
        index = string.find(sub_string,start_index)
        if index == -1:
            break
        lst.append(index)
        start_index = index+1
    return lst

string = "hello how are you hello"
sub_string = "hello"

print(occurences_string(string,sub_string))

[0, 18]

In [ ]:
# 6.Write a code to perform basic string compression using the counts of repeated characters

In [9]:
# 7.Write a code to determine if a string has all unique characters.

In [11]:
def unique_char(str):
    set_values = set()

    for char in str:
        if char in set_values:
            return False
        else:
            set_values.add(char)
    return True

str = input("enter string")
if unique_char(str):
    print("it is a unique character string")
else:
    print("it doesnot have uniqie character string")

enter string skil

it is a unique character string

In [12]:
# 8.Write a code to convert a given string to uppercase or lowercase

In [14]:
def convert_str(str):
    str = str.upper()
    return str

str = input("enter string:")
print(convert_str(str))

enter string: raja

RAJA

In [ ]:
# 9.Write a code to count the number of words in a string.

In [18]:
def count_words(str):
    space = " "
    count=0
    for i in range(len(str)):
        if space == str[i]:
            count += 1
    return count+1

str = input("enter a string")
print(count_words(str))

enter a string rajselkhar reddy kamireddy

3

In [ ]:
# 10.Write a code to concatenate two strings without using the + operator

In [23]:
def concatinate(str1,str2):
    return "".join([str1,str2])

str1 = "rajasekhar"
str2 = " reddy"
print(concatinate(str1,str2))

rajasekhar reddy

In [ ]:
# 11.Write a code to remove all occurrences of a specific element from a list

In [32]:
def remove_specific_element(lst,ele):
    return list(filter(lambda x:x!=ele,lst))

ele = int(input("enter removing element:"))
 
lst = input("length of a string:").split(',')
lst = [int(x) for x in lst]

new_lst = remove_specific_element(lst,ele)

print(new_lst)

enter removing element: 2
length of a string: 1,2,3,45

[1, 3, 45]

In [ ]:
# 12.Implement a code to find the second largest number in a given list of integers

In [43]:
def sec_largest(lst):
    lar = -1
    sec_lar = -1
    for i in lst:
        if i>lar:
           sec_lar = lar
           lar = i
        elif i>sec_lar and i!=lar:
            sec_lar = i
            
    return sec_lar

lst = [1,10,9,23,15]
print(sec_largest(lst))

15

In [ ]:
# 13.Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

In [45]:
def elements_dic(lst):
    count= {}
    for i in lst:
        if i in count:
            count[i] += 1
        else:
            count[i] = 1
    return count

lst = [12,2,1,1,4,3,4,6]
counting = elements_dic(lst)
print(counting)

{12: 1, 2: 1, 1: 2, 4: 2, 3: 1, 6: 1}

In [ ]:
# 14.Write a code to reverse a list in-place without using any built-in reverse functions

In [50]:
def reverse_lst(lst):
    left = 0
    right = len(lst)-1

    while left<right:
        temp = lst[left]
        lst[left] = lst[right]
        lst[right] = temp
        left +=1
        right -= 1
    

lst = [1,2,3,4]
reverse_lst(lst)
print(lst)

[4, 3, 2, 1]

In [ ]:
# 15.Implement a code to find and remove duplicates from a list while preserving the original order of elements

In [59]:
def removing_duplicates(lst):
    unique_lst=[]
    count = set()

    for i in lst:
        if i not in count:
            unique_lst.append(i)
            count.add(i)
    return unique_lst
            


lst = [1,2,3,4,5,1,2,34,4]

output_res = removing_duplicates(lst)


print(output_res)

[1, 2, 3, 4, 5, 34]

In [ ]:
# 16.Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [2]:
def sorting_check(lst):
    sort = True

    for i in range(len(lst)-1):
        if lst[i]>lst[i+1]:
            sort = False

    if sort:
        print("sorted list")
    else:
        print("not sorted")

lst1 = [1,8,3,5,6,9]
ls2 = [1,2,3,4,5,6]
sorting_check(lst1)
sorting_check(ls2)

not sorted
sorted list

In [ ]:
# 17.Write a code to merge two sorted lists into a single sorted list

In [6]:
def merging_list(lst1,lst2):
    merged = []
    i=0
    j=0

    while i<len(lst1) and j<len(lst2):
        if lst1[i]<=lst2[j]:
            merged.append(lst1[i])
            i +=1
        elif lst1[i]>lst2[j]:
            merged.append(lst2[j])
            j +=1

    while i<len(lst1):
        merged.append(lst1[i])
        i +=1

    while j<len(lst2):
        merged.append(lst2[j])
        j +=1
    return merged

lst1 = [1,2,3,4]
lst2 = [7,8,9,10]

merging_operation = merging_list(lst1,lst2)
print(merging_operation)

[1, 2, 3, 4, 7, 8, 9, 10]

In [ ]:
# 18.Implement a code to find the intersection of two given lists

In [14]:
def intersec_lists(lst1, lst2):
    intersection_lst = []

    for i in lst1:
        if i in lst2 and i not in intersection_lst:
            intersection_lst.append(i)
    return intersection_lst

lst1 = [1,2,3,4,5]
lst2 = [3,4,5,7,8]
intersection_lst = intersec_lists(lst1, lst2)
print(intersection_lst)

[3, 4, 5]

In [ ]:
# 19.Create a code to find the union of two lists without duplicates

In [16]:
def union_lists(lst1,lst2):
    concatinated_lst = lst1+lst2
    union_lst = []

    for i in lst1:
        if i in lst2 and i not in union_lst:
            union_lst.append(i)
    return union_lst

lst1 = [1,2,3,4,5]
lst2 = [4,5,6,7,8]
union_lst = union_lists(lst1,lst2)
print(union_lst)

[4, 5]

In [ ]:
# 20.Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [8]:
import random

def shuffle_list(lst):
    shuffled = lst[:]
    n = len(shuffled)
    for i in range(n-1,0,-1):
        j = random.randint(0,i)
        shuffled[i],shuffled[j] = shuffled[j],shuffled[i]
    return shuffled

lst = [1,2,3,4,5]
shuffled = shuffle_list(lst)
print(shuffled)

[3, 5, 4, 1, 2]

In [9]:
# 21.Write a code that takes two tuples as input and returns a new tuple 
#    containing elements that are common to both input tuples.

In [2]:
def common_elements(t1,t2):
    set1 = set(t1)
    set2 = set(t2)

    common_ele = set1.intersection(set2)
    common_tuple = tuple(common_ele)

    return common_tuple

t1 = (1,2,3,4,5,'raja')
t2 = ('raja',4,5,8,9)

common_tuples = common_elements(t1,t2)
print(common_tuples)

(4, 5, 'raja')

In [ ]:
# 22.Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

In [3]:
def common_elements(set1,set2):
    intersect_element = set1.intersection(set2)
    return intersect_element

set1 = {1,2,3,"rajasekhar",(10,11)}
set2 = {8,7,9,"rajasekhar",(10,11)}

common_set = common_elements(set1,set2)
print(common_set)

{(10, 11), 'rajasekhar'}

In [ ]:
# 23.Write a code to concatenate two tuples. The function should take two tuples as input and return a 
#    new tuple containing elements from both input tuples.

In [8]:
def concatenate_tuples(t1,t2):
    l1 = list(t1)
    l2 = list(t2)
    
    adding = l1+l2
    new_tuple = tuple(adding)
    
    return new_tuple

t1 = (1,2,3,4,5)
t2 = ('a','b','raja')

new_tuple = concatenate_tuples(t1,t2)
print(new_tuple)

(1, 2, 3, 4, 5, 'a', 'b', 'raja')

In [ ]:
# 24.Develop a code that prompts the user to input two sets of strings. 
#    Then, print the elements that are present in the first set but not in the second set

In [16]:
def first_set_elements(set1, set2):
    new_set = set1 - set2  
    return new_set

s1 = {"raja", "ressy", "kamireddy", "nani"}
s2 = {"rajsaekhar", "ressy", "reddy"}

new_set = first_set_elements(s1, s2)
print(new_set)

{'kamireddy', 'nani', 'raja'}

In [ ]:
# 25.Create a code that takes a tuple and two integers as input. The function should return a 
#     new tuple containing elements from the original tuple within the specified range of indices

In [28]:
def range_elements():
    input_str = input("Enter tuple elements separated by commas: ")
    t1 = tuple(map(str.strip, input_str.split(",")))  

    ind_1 = int(input("Enter the starting index: "))
    ind_2 = int(input("Enter the ending index: "))
    
    new_tuple = ()
    for i in range(ind_1,ind_2):
        new_tuple += (t1[i],)
       
    print(new_tuple)

range_elements()

Enter tuple elements separated by commas:  1,2,3,4,5,6,7,8,9
Enter the starting index:  4
Enter the ending index:  7

('5', '6', '7')

In [ ]:
# 26.Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [32]:
def union_char():
    set1 = input("enter set1 elements:")
    set2 = input("enter set2 elements:")

    s1 = set(set1.split())
    s2 = set(set2.split())

    union_set = s1|s2
    print("union of sets:",union_set)

union_char()

enter set1 elements: a b c d e r
enter set2 elements: a e d v b w

union of sets: {'b', 'a', 'r', 'd', 'w', 'e', 'v', 'c'}

In [ ]:
# 27.Develop a code that takes a tuple of integers as input. The function should return the maximum and 
#            minimum values from the tuple using tuple unpacking

In [36]:
def tuple_min_max_element():
    input_val = input("enter the elements separated by commas:")
    t1 = tuple(map(int,input_val.split(",")))

    min_value,max_value = min(t1),max(t1)

    print("minimun value in tuple: ",min_value)
    print("maximum value in tuple: ",max_value)
    
tuple_min_max_element()

enter the elements separated by commas: 12,34,12,45,768,997,0

minimun value in tuple:  0
maximum value in tuple:  997

In [ ]:
# 28.Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these  two sets

In [38]:
def union_intersection_difference():
    input_value1 = input("enter the elements separated by commas: ")
    input_value2 = input("enter the elements separated by commas: ")
    s1 = set(map(int,input_value1.split(",")))
    s2 = set(map(int,input_value2.split(",")))

    union_value = s1 | s2
    intesection_value = s1 & s2
    difference_value = s1 - s2

    print("union values are:",union_value)
    print("intersection_values: ",intesection_value)
    print("difference_values: ",difference_value)
    

union_intersection_difference()

enter the elements separated by commas:  1,2,3,4,5
enter the elements separated by commas:  4,5,6,7,8

union values are: {1, 2, 3, 4, 5, 6, 7, 8}
intersection_values:  {4, 5}
difference_values:  {1, 2, 3}

In [ ]:
# 29.Write a code that takes a tuple and an element as input. The function should return the count of  occurrences of the given element in the tuple

In [41]:
def occurrence_element():
    input_value = input("enter the values separated by commas: ")
    element = input("enter the element: ")

    t1 = tuple(map(str.strip,input_value.split(",")))
    count =0
    for i in t1:
        if i == element:
                   count += 1

    print("occurrences of an element: ",count)

occurrence_element()

enter the values separated by commas:  1,23,1,23,56,5
enter the element:  1

occurrences of an element:  2

In [ ]:
# 30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of  these two sets

In [46]:
def symmetric_difference():
    input_value1 = input("enter set1 values as comma saparated: ")
    input_value2 = input("enter set2 values as comma saparated: ")

    set1 = set(input_value1.split(","))
    set2 = set(input_value2.split(","))

    
    symmetric_set = set1^set2
    print("symmetric differences of two sets : ",symmetric_set)

symmetric_difference()

enter set1 values as comma saparated:  1,2,34
enter set2 values as comma saparated:  34,5,6

symmetric differences of two sets :  {'5', '1', '2', '6'}

In [ ]:
# 31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words  
#   and the values are the frequencies of those words in the input list

In [49]:
def dictionary_keys():
    input_val = input("enter the list separated by comma: ")
    lst = list(input_val.split(","))
    word_counts = {}
    for i in lst:
        if i in word_counts:
            word_counts[i] += 1
        else:
            word_counts[i] = 1

    print("words and there frequencies: ",word_counts)

dictionary_keys()

enter the list separated by comma:  apple,bannana,kiwi,apple,kiwi,mango,graph,kiwi

words and there frequencies:  {'apple': 2, 'bannana': 1, 'kiwi': 3, 'mango': 1, 'graph': 1}

In [ ]:
# 32.Write a code that takes two dictionaries as input and merges them into a single dictionary. 
#    If there are  common keys, the values should be added together&

In [57]:
def merge_dictionaries(dict1, dict2):
  merged = dict1.copy()
  for key, value in dict2.items():
    if key in merged:
      merged[key] += value
    else:
      merged[key] = value
  return merged

dict1 = {'a':2,'b':6,'d':4,'z':10}
dict2 = {'a':1,'c':2,'z':2}
print(merge_dictionaries(dict1,dict2))

{'a': 3, 'b': 6, 'd': 4, 'z': 12, 'c': 2}

In [ ]:
# 33.Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of 
#    keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the 
#    function should return None

In [63]:
def access_nested_value(data, keys):
  current = data
  for key in keys:
    if key not in current:
      return None
    current = current[key]
  return current

my_dict = {"a": {"b": {"c": 10, "d": 20}, "e": 30}, "f": 40}

value1 = access_nested_value(my_dict, ["a", "b", "c"])  
value2 = access_nested_value(my_dict, ["a", "e"])    
value3 = access_nested_value(my_dict, ["f"])         
value4 = access_nested_value(my_dict, ["a", "x", "y"]) 
print(value1)
print(value2)
print(value3)
print(value4)

10
30
40
None

In [ ]:
# 34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You 
#     can choose whether to sort in ascending or descending order

In [67]:
def sort_dictionary_by_value(dictionary, ascending=True):
  sorted_items = sorted(dictionary.items(), key=lambda item: item[1], reverse=not ascending)
  return sorted_items

my_dict = {'a': 3, 'b': 1, 'c': 2}
sorted_asc = sort_dictionary_by_value(my_dict)
sorted_desc = sort_dictionary_by_value(my_dict, ascending=False)

print("Ascending:", sorted_asc)
print("Descending:", sorted_desc)

Ascending: [('b', 1), ('c', 2), ('a', 3)]
Descending: [('a', 3), ('c', 2), ('b', 1)]

In [ ]:
# 35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary 
#   correctly handles cases where multiple keys have the same value by storing the keys as a list in the 
#   inverted dictionary.

In [65]:
def inverted_dict(dict1):
    new_dict = {}
    for key,value in dict1.items():
        if value not in new_dict:
            new_dict[value] = key
        else:
            new_dict[value].append(key)

    return new_dict

dict = {'a':2,'b':6,'c':9,'d':4,'z':10}
inverted = inverted_dict(dict)
print(inverted)

{2: 'a', 6: 'b', 9: 'c', 4: 'd', 10: 'z'}